.welcome-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.welcome-content {
  margin-top: 5rem;
}

.welcome-title {
  text-align: center;
}

.join-card {
  width: 20rem;
}